In [1]:
name="amin"
age=32
city="tehran"
print(f"my name is {name} , I am {32} years old and I live in {city}")

my name is amin , I am 32 years old and I live in tehran

In [3]:
name=input("enter your name:")
birthday=int(input("enter your birthday:"))
current_years=2026
age=current_years-birthday
print(f'dear your name is {name}, and your age is {age}')

enter your name:amin
enter your birthday:1993
dear your name is amin, and your age is 33

In [5]:
number=int(input("enter your number:"))
if number%2==0:
  print("even")
elif number%2==1:
  print("odd")

enter your number:13
odd

In [8]:
for i in range(1,21):
  if i%3==0:
    print(i)

3
6
9
12
15
18

In [14]:
numbers = [3, 7, 12, 5, 18, 9, 4,22]
above_10=[]
for i in numbers:
  if i>10:
    above_10.append(i)
print(above_10)

count=len(above_10)
print(count)
avg=sum(above_10)/count
print(avg)

[12, 18, 22]
3
17.333333333333332